body{
	background-color: lightblue;
}

#left{
	position: fixed;
	left: 20px;
	height: 520px;
	top: 120px;
}

#right{
	position: fixed;
	right: 20px;
	height: 520px;
	top: 120px;

}

textarea {
	margin: 40px 30px 40px 30px;

}

#authForm{
	width: 120px;
}